@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 204 25% 95%;
    --foreground: 210 29% 10%;
    --card: 0 0% 100%;
    --card-foreground: 210 29% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 29% 10%;
    --primary: 210 29% 24%;
    --primary-foreground: 0 0% 100%;
    --secondary: 204 25% 90%;
    --secondary-foreground: 210 29% 24%;
    --muted: 204 15% 90%;
    --muted-foreground: 210 20% 40%;
    --accent: 204 70% 53%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 20% 85%;
    --input: 210 20% 85%;
    --ring: 204 70% 53%;
    --chart-1: 210 29% 24%;
    --chart-2: 204 70% 53%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 210 29% 10%;
    --foreground: 0 0% 98%;
    --card: 210 29% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 210 29% 12%;
    --popover-foreground: 0 0% 98%;
    --primary: 204 70% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 29% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 210 29% 20%;
    --muted-foreground: 210 20% 65%;
    --accent: 204 70% 53%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 29% 20%;
    --input: 210 29% 20%;
    --ring: 204 70% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}